@tailwind base;
@tailwind components;
@tailwind utilities;

/* body{
  background-color: black;
} */

.active{
  color:#23D8FF ;
  text-decoration: underline;
 
  
  
  
}


.header{
  background: linear-gradient(90deg, rgba(11,11,11,1) 0%, rgba(41,12,39,1) 50%, rgba(109,7,165,1) 90%);
}
.light{
  background: linear-gradient(90deg,  rgba(41,12,39,1) 50%, rgba(109,7,165,1) 90%);
}

.headerr{
  background: linear-gradient(90deg, rgba(109,7,165,1) 0%, rgba(41,12,39,1) 50%, rgba(11,11,11,1) 100%);
}
.aboutLight{
  background: linear-gradient(90deg, rgba(109,7,165,1) 0%, rgba(41,12,39,1) 50%);
}
body{

  font-family: "DM Serif Text", serif;
}


.banner-name{
  font-family: "Rubik Microbe", serif;

}
.text{
  font-family: "DM Serif Text", serif;
}


body.light {
  background-color: black;
  color: white;
}

body.dark {
  background-color: white;
  color: black;
}